h1{
    color: rgb(73, 28, 67);
    font-family:"Monaco", monospace;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px rgb(255, 255, 255);
  }

body{
    background-color: azure;
}
.login a{
   position:fixed; 
    top: 0;
    right: 0;
    text-align: center;
    color: darkslategrey;
    font-size: 20px;
    font-family:"Monaco", monospace;
  }
    

.topnav {
    overflow: hidden;
    background-color:lightblue;
    border-radius: 30px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(47, 79, 79, 0.404);
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: darkslategrey;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 15px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
      
    }
  }
