h1{
    color: rgb(73, 28, 67);
    font-family:"Monaco", monospace;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px rgb(255, 255, 255);
  }
h2{
  color: rgb(119, 50, 110);
    font-family:"Monaco", monospace;
    font-size: 15px;
    text-align: center;
    text-shadow: 4px 4px rgb(255, 255, 255);

}

body{
    background-color: azure;
}
.parent {
  border: 5px;
  padding: 5px 5px;
  margin: 1rem;
  
}
.child a{
  position: sticky; 
  float: right;
  display: inline-block;
  vertical-align:baseline;
  top: 0;
  right: 0;
  text-align: center;
  padding: 1rem 1rem;
  color: darkslategrey;
  font-size: 20px;
  font-family:"Monaco", monospace;
}

  

.topnav {
    overflow: hidden;
    background-color:lightblue;
    border-radius: 30px;
  }
  

  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Monaco", monospace;
  }
  

  .topnav a:hover {
    background-color: rgba(47, 79, 79, 0.404);
    color: black;
  }
  
  
  .topnav a.active {
    background-color: darkslategrey;
    color: white;
  }
  
 
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 15px;
  }
  
  
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 50%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
      
    }
  }
  form{
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

  }
  .ageBtn{
    margin: 0 auto;
    width: 500px;
    padding: 20px;

  }
  input[type="button"]{
    color: rgb(119, 50, 110);
    font-family:"Monaco", monospace;
    text-align: center;

  }
  label {
    display: block;
    margin-bottom: 10px;
    font-family: "Monaco", monospace;
  }
  input[type="email"], input[type="password"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="submit"] {
    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    
  }
  input[type="submit"]:hover {
    background-color: darkslategrey;
  }
